.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        width: 50%;
    }
    &__title {
        display: flex;
        flex-direction: column;
        span:first-child {
            font-size: 48px;
        }
        span:nth-child(2) {
            font-size: 64px;
            color: #f42d2d;
        }
        span:nth-child(3) {
            font-size: 64px;
            color: #ff0000;
        }
    }
    &__btn {
        margin-top: 50px;
        padding: 15px 30px;
        background: #ff0000;
        border-radius: 10px;
        font-size: 24px;
        color: #fff;
        transition: 0.4;
        &:hover {
            opacity: 0.8;
        }
    }
    &__right {
        width: 50%;
        img {
            width: 100%;
        }
    }
    @media (max-width: 900px) {
        &__title {
            span:first-child {
                font-size: 40px;
            }
            span:nth-child(2) {
                font-size: 40px;
                color: #f42d2d;
            }
            span:nth-child(3) {
                font-size: 40px;
                color: #ff0000;
            }
        }
        &__btn {
            padding: 10px 20px;
            font-size: 18px;
        }
    }
    @media (max-width: 850px) {
        flex-direction: column-reverse;
        text-align: center;
        &__left,
        &__right {
            width: 100%;
        }
    }
    @media (max-width: 550px) {
        &__title {
            span:first-child {
                font-size: 30px;
            }
            span:nth-child(2) {
                font-size: 30px;
            }
            span:nth-child(3) {
                font-size: 30px;
            }
        }
        &__btn {
            font-size: 16px;
        }
    }
}
