#footer {
    background: #edf2f4;
    padding: 70px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    &__row {
        width: calc(25% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        h3 {
            padding-bottom: 10px;
        }
    }
    @media (max-width: 900px) {
        &__row {
            width: calc(50% - 20px);
        }
    }
    @media (max-width: 500px) {
        &__row {
            width: 100%;
        }
    }
}
